folium
holidays
imbalanced-learn
joblib
jupyter
loguru
matplotlib
mord
numpy
pandas
plotly
python-dotenv
pmdarima
scikit-learn>=1.5,<1.8
scipy
seaborn
statsmodels
streamlit
streamlit-extras
python-pptx
reportlab
xgboost
